.header-bg {

    color: white;
    align-items: center;

    height: 10vh;
    width: 100%;

}

a {
    color: white;
    text-decoration: none;
}

h2 {
    margin: 0;
}

h5 {
    margin: 0;
    font-size: small;
}
