.footer-bg {
    color: white;
    display: flex;
    justify-content: center;
    /* height: 10vh; */
    width: 100%;
    margin-bottom: 1rem;
}

.footer-content p {
    margin: 0;
    padding-top: 1.5vh;
}