.play-table-container {
    width: 100%;
    background-color: #35654d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-table {
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 20px;
    background-color: #004d23;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: white;
    gap: 20px;
}

.game-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.computer-row {
    flex-direction: row;
    flex: 1;
}

.middle-row {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 2;
}

.player-row {
    flex-direction: row;
    flex: 1;
}

.hand-section {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stick-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanalen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.card-stack {
    position: relative;
    width: 100px;
    height: 140px;
}

.card-visual {
    position: absolute;
    width: 100px;
    height: 140px;
    background: url('https://deckofcardsapi.com/static/img/back.png') no-repeat center;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.card-stack .card-visual:nth-child(1) { transform: rotate(-5deg); }
.card-stack .card-visual:nth-child(2) { transform: rotate(-2deg); }
.card-stack .card-visual:nth-child(3) { transform: rotate(0deg); }
.card-stack .card-visual:nth-child(4) { transform: rotate(2deg); }
.card-stack .card-visual:nth-child(5) { transform: rotate(5deg); }

.card-counter {
    font-size: 1.2em;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/**
IMG
 */
 .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #35654de5;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 40%;
  }
  
  .place-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 1rem 0;
  }
  
  .close-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #14271e;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
  }
  
  .close-button:hover {
    background-color: #428a64;
  }

  .show-image-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #14271e;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 1rem;
  }

  .show-image-button:hover {
    background-color: #428a64;
  }

